<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mb-4 shadow-sm">Card 1</div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-4 shadow-sm">Card 2</div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-4 shadow-sm">Card 3</div>
        </div>
    </div>
</div>
