services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong!Passw0rd
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD", "/opt/mssql-tools18/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "YourStrong!Passw0rd", "-Q", "SELECT 1", "-C"]
      interval: 10s
      timeout: 3s
      retries: 5

  app:
    build: .
    ports:
      - "5000:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=EchoPay;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True

  init-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    user: root
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/scripts
    entrypoint: /bin/bash -c "
      /opt/mssql-tools18/bin/sqlcmd -S db -U sa -P 'YourStrong!Passw0rd' -C -i '/scripts/EchoPay Tables.sql' && \
      /opt/mssql-tools18/bin/sqlcmd -S db -U sa -P 'YourStrong!Passw0rd' -C -i '/scripts/Sp EchoPay.sql' && \
      /opt/mssql-tools18/bin/sqlcmd -S db -U sa -P 'YourStrong!Passw0rd' -C -i '/scripts/Data EchoPay.sql'"
